.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3000;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-in-out;
}

.dialog {
  position: absolute;
  top: 50vh;
  left: 50vw;
  min-height: 50vh;
  width: 50vw;
  max-width: 450px;
  min-width: 350px;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 5px;
  z-index: 3001;
  transition: opacity 0.3s ease-in-out;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #333;
  padding: 0 20px;
  font-size: 18px;
  font-weight: bold;
}

.close-button {
  background-color: transparent;
  outline: none;
  border: none;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.dialog-body {
  height: calc(100% - 70px);
  padding-inline: 20px;
  padding-block: 10px;
}

.is-hidden {
  top: -100vh;
  opacity: 0;
}